<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>xbucketd</string>
    <key>OnDemand</key>
    <false/>
    <key>Program</key>
    <string>xbucketd</string>
    <key>WorkingDirectory</key>
    <string>/Users/xmachine/Xbucket/service</string>
    <key>ProgramArguments</key>
    <array>
        <string>xbucketd</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/xmachine/var/xbucketd-stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/xmachine/var/xbucketd-stdout.log</string>
</dict>
</plist>

